[submodule "plano_de_estudo_mobile_nivelamento/semana_02/01_curso_logica_de_programacao_explore_funcoes_e_listas/5-publicando-o-projeto/js-game-number-secret"]
	path = plano_de_estudo_mobile_nivelamento/semana_02/01_curso_logica_de_programacao_explore_funcoes_e_listas/5-publicando-o-projeto/js-game-number-secret
	url = https://github.com/Lucasgyn94/js-game-number-secret.git
[submodule "plano_de_estudo_mobile_nivelamento/semana_03/01_curso_git_e_github_compartilhando_e_colaborando_em_projetos/aulas_01_compartilhando_projetos/desafio_hora_da_pratica/js-game-number-secret"]
	path = plano_de_estudo_mobile_nivelamento/semana_03/01_curso_git_e_github_compartilhando_e_colaborando_em_projetos/aulas_01_compartilhando_projetos/desafio_hora_da_pratica/js-game-number-secret
	url = https://github.com/Lucasgyn94/js-game-number-secret.git
[submodule "plano_de_estudo_mobile_nivelamento/semana_03/01_curso_git_e_github_compartilhando_e_colaborando_em_projetos/aulas_02_colaborando_em_projetos/desafio_hora_da_pratica/desafio"]
	path = plano_de_estudo_mobile_nivelamento/semana_03/01_curso_git_e_github_compartilhando_e_colaborando_em_projetos/aulas_02_colaborando_em_projetos/desafio_hora_da_pratica/desafio
	url = https://github.com/Lucasgyn94/repo--aula-02-colaborando-em-projetos.git
[submodule "plano_de_estudo_mobile_nivelamento/semana_03/01_curso_git_e_github_compartilhando_e_colaborando_em_projetos/aulas_03_utilizando_git_na_ide/desafio_hora_da_pratica/desafio-resolucao-conflitos"]
	path = plano_de_estudo_mobile_nivelamento/semana_03/01_curso_git_e_github_compartilhando_e_colaborando_em_projetos/aulas_03_utilizando_git_na_ide/desafio_hora_da_pratica/desafio-resolucao-conflitos
	url = https://github.com/Lucasgyn94/repo-aula-03-utilizando-git-na-ide.git
[submodule "plano_de_estudo_mobile_nivelamento/semana_04/curso_logica_de_programacao_praticndo_com_desafios/aula_01_projeto_sorteador_de_numeros/sorteador-numeros"]
	path = plano_de_estudo_mobile_nivelamento/semana_04/curso_logica_de_programacao_praticndo_com_desafios/aula_01_projeto_sorteador_de_numeros/sorteador-numeros
	url = https://github.com/Lucasgyn94/js-sorteador-de-numeros.git
[submodule "plano_de_estudo_mobile_nivelamento/semana_04/curso_logica_de_programacao_praticndo_com_desafios/aula_02_projeto_alugames/alugames"]
	path = plano_de_estudo_mobile_nivelamento/semana_04/curso_logica_de_programacao_praticndo_com_desafios/aula_02_projeto_alugames/alugames
	url = https://github.com/Lucasgyn94/js-alugames.git
